# numpy
# pandas
# matplotlib
# scikit-learn
# Flask==2.0.2
# Flask-RESTful==0.3.9
# tensorflow
# opencv-python
# Werkzeug
# Jinja2
# click
# reparse==3.0
# Pillow

attr==0.3.2
colorama==0.4.6
ConfigParser==7.2.0
cryptography==44.0.2
Cython==3.0.12
dl==0.1.0
docutils==0.21.2
filelock==3.18.0
Flask==2.0.2
flask_cors==5.0.1
Flask_RESTful==0.3.9
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.6
jnius==1.1.0
keyring==25.6.0
matplotlib==3.10.1
numpy==2.2.4
opencv_python==4.11.0.86
pandas==2.2.3
Pillow==11.1.0
protobuf==6.30.2
pyOpenSSL==25.0.0
pywin32==310
railroad==0.5.0
redis==5.2.1
scikit_learn==1.6.1
selenium==4.31.0
Sphinx==8.2.3
tensorflow==2.19.0
thread==2.0.5
trove_classifiers==2025.3.19.19
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
